@import "tailwindcss";

:root {
  --primary: #10b981;
  --primary-hover: #059669;
  --card-bg: rgba(255, 255, 255, 0.05);
  --card-border: rgba(255, 255, 255, 0.1);
}

body {
  font-feature-settings: "tnum";
}
